configured subscriptions

Generic description in [RFC 8639, sec. 2.5](https://tools.ietf.org/html/rfc8639#section-2.5), the specific configuration is described in [RFC 8641, sec 4.2](https://tools.ietf.org/html/rfc8641#section-4.2).

The netopeer2-server implements the configured subscription by subscribing for the changes of `/ietf-subscribed-notifications:subscriptions/subscription` in sysrepo. The sysrepo subscription can be done a similar way as in `/notifications:create-subscription` callback (`np2srv_rpc_subscribe_cb()`). Processing the event streams can be then done the same way as the standard NETCONF Notifications. 

Supported features from [`ietf-subscribed-notifications`](https://tools.ietf.org/html/rfc8639#section-4) module:
- encode-json
- encode-xml
- replay
- subtree
- xpath