Question on get-data --datastore operational and config data not being returned

Per the instruction to try to use `get-data` instead of `get`, I am trying to understand what is returned with a request like 
```
get-data --datastore operational
```
From [RFC8342 section 5 figure 2](https://datatracker.ietf.org/doc/html/rfc8342#page-14), from my reading, it appears that the `operational` datastore should also contain the `config true` nodes from the `running` datastore.   Section 5.3 indicates that `consists of all "config true" and "config false" nodes` which also seems to me to imply that the `config true` nodes should be present.

That is not what I am seeing however.  I am only seeing the `config false` and any `config true` elements for which there is an operational callback subscription providing the data either via a `push` or `pull` method.   

Section 5.3 does seem to have an out in `except that configuration data nodes supported in a configuration datastore MAY be omitted from <operational> if a server is not able   to accurately report them`.   Is this taking place?

Even if I could get a client to use `get-data` to replace `get`, I cannot seem to get both `config false` and `config true` nodes in one request.   

Is this the expected behavior at this point?   It does make the current implementation of `get-data` less useful from a client point of view.

I believe I understand now the concept of the "in use" affecting the operational datastore returning configuration data from the running data store.   I will close this question and if needed resurrect a better question later. 