Event streams discovery

Hi,
I'm using netopeer2 v2.2.31 and trying to do event stream discovery as per RFC5277 3.2.5.1:

```xml
<get xmlns="urn:ietf:params:xml:ns:netconf:base:1.0">
  <filter>
    <netconf xmlns="urn:ietf:params:xml:ns:netmod:notification">
      <streams/>
    </netconf>
  </filter>
</get>
```
I also tried to query ietf-subscribed-notifications:

```xml
<get xmlns="urn:ietf:params:xml:ns:netconf:base:1.0">
  <filter>
    <streams xmlns="urn:ietf:params:xml:ns:yang:ietf-subscribed-notifications"/>
  </filter>
</get>
```
in both cases netopeer2 returns operation-failed/libyang error and logs as follows:
```
Invalid argument tree (lyd_find_xpath3()).
[ERR]: LY: Invalid argument tree (lyd_find_xpath3()).
[WRN]: SR: EV ORIGIN: "/ietf-netconf:get" "rpc" ID 3 priority 0 failed (libyang error).
[ERR]: SR: User callback failed.
[ERR]: NP: Failed to send an RPC (User callback failed).
[INF]: NP: Session 3: thread 2 event new RPC.
[INF]: NP: Session 3: thread 2 event reply error.
EV ORIGIN: "/ietf-netconf:get" "rpc" ID 3 priority 0 failed (libyang error).
User callback failed.
Failed to send an RPC (User callback failed).
Session 3: thread 2 event new RPC.
Session 3: thread 2 event reply error.
```

So my questions are:

- is this a bug or may there be anything wrong at my side?
- are the two queries supposed to serve the same scope?
- (if I may add a partially unrelated topic) is there a way to add arbitrary stream names (in config and/or programmatically) other than NETCONF and the module names?

Thanks a lot

- Yes, I think it was a minor bug and it should be fixed (even though I could not reproduce it).
- They do not have to, generally, but hey do (and likely always will) in *netopeer2*.
- This is not currently supported and it seems there is no value in this feature. You can always use filters to select exactly the notifications you want, so what streams would you like to add?

Thanks for the quick response (as always!)

My third question is related to O-RAN Mplane spec v15.00 par. 9.1.7.2 Event streams

```
All O-RUs shall support the default “NETCONF” event stream, as specified in clause 3.2.3 of RFC 5277 [21]. In addition to the default event stream, O-RUs should support the following event streams:
- “fault-management” used to subscribe to YANG notification events defined in o-ran-fm YANG model.
- “measurement-result-stats” used to subscribe to YANG notification events defined in o-ran-performance-management YANG model.
- “supervision-notification” used to subscribe to YANG notification events defined in o-ran-supervision YANG model.
```

Anyways I would not push for it if not already supported. This 'should' clause does not deserve too much effort IMHO

Fine then, I agree. These seem to be just aliases for existing streams, anyway.

I confirm

As usual, you were right. nc-notifications was not listed in NACM rules, and default read was denied.
Thanks!