Pruned operational value of config true data even with ietf-origin:system

Hi Michal, 
I am encountering an issue where operational data pushed via a plugin is being filtered out by Netopeer2, even though I am explicitly setting the ietf-origin metadata to system.

Scenario:
    I use ieee802-dot1x YANG model where port-type is config true.
    My system determines this value for hardware ports, so I want to report it in operational without it being present in running.
    According to RFC 8342 Section 5.3, "system-provided configuration" should be visible in \<operational\> even if not present in \<intended\>.

Implementation: I am using sr_edit_batch ("advanced operational push") to create the data tree. I am explicitly attaching the ietf-origin:system metadata to both the leaf and its parent container (which is also missing in running).

Using sysrepocfg -d operational, I can confirm the data is stored correctly in the backend with the correct metadata attributes on both the container and the leaf:

```
<interfaces xmlns="urn:ietf:params:xml:ns:yang:ietf-interfaces" xmlns:or="urn:ietf:params:xml:ns:yang:ietf-origin" or:origin="or:unknown">
   <interface>
     <name>eth0</name>
     <pae xmlns="urn:ieee:std:802.1X:yang:ieee802-dot1x" or:origin="or:system">
       <port-type or:origin="or:system">real-port</port-type>
     </pae>
   </interface>
</interfaces>
```

Problem: When performing a NETCONF \<get\> (not limited to netopeer2-cli as a client), the pae container and its children are not returned. It seems the merging logic treats them as "orphan" configuration and prunes them, ignoring the origin:system override.

Question: Is this intended behavior for anything is missing or should the origin:system on the operational data actually prevent the pruning?

Thanks a lot!

Look at the [NMDA RFC](https://www.rfc-editor.org/rfc/rfc8342.html#page-10) (second bullet point), which should explain the behavior exactly. Generally, instead of `get` you should be using `get-data` which has significantly better performance and predictability.

Thanks for the quick response, as always.

I will use get-data to overcome the immediate problem. However, for the sake of completeness and future reference, I am not entirely convinced by the interpretation that \<get\> _must_ hide these nodes.

The bullet point  you mentioned notes that operational data "branches" can be different from config, but it doesn't explicitly state that config true nodes missing from \<intended\> must be pruned from a \<get\> reply, especially when they carry the origin="system" attribute.

This seems clearer in RFC 8342 Appendix C.2.2.1, where the example explicitly shows a config true leaf (local-port) appearing in \<operational\> despite not being configured in \<intended\>:

_Each BGP peer has a TCP connection associated with it, using the
   values of local-port and remote-port from \<intended\>.  **If those
   values are not supplied, the system will select values.  When the
   connection is established, \<operational\> will contain the current
   values for the local-port and remote-port nodes regardless of the
   origin**.  If the system has chosen the values, the "origin" attribute
   will be set to "system".  Before the connection is established, one
   or both of the nodes may not appear, since the system may not yet
   have their values._

```
     <bgp xmlns:or="urn:ietf:params:xml:ns:yang:ietf-origin"
          or:origin="or:intended">
       <local-as>64501</local-as>
       <peer-as>64502</peer-as>
       <peer>
         <name>2001:db8::2:3</name>
         <local-as or:origin="or:default">64501</local-as>
         <peer-as or:origin="or:default">64502</peer-as>
         <local-port or:origin="or:system">60794</local-port>
         <remote-port or:origin="or:default">179</remote-port>
         <state>established</state>
       </peer>
     </bgp>
```

It seems counter-intuitive that \<get\> - which historically returns the device state - would filter out valid, system-generated state simply because it mimics a configuration node, while sysrepocfg and get-data correctly show it.

Anyway, thank you for clarifying the preferred path (get-data).

> especially when they carry the origin="system" attribute

`get` does not interpret `origin` at all, I think. This metadata is only in the new spec.

> It seems counter-intuitive that <get> - which historically returns the device state - would filter out valid, system-generated state simply because it mimics a configuration node

I believe the core of the issue is that, before, you had strict division of *configuration* and *state* data, `get` returned both. With NMDA, you can have 2 different values for a *configuration* node, in the `running` datastore and in the `operational` datastore so which one to return? You say it should be `operational`, the authors of the NMDA RFC has opted for `running`. And as far as backwards-compatibility goes, I also agree with their decision.

Not sure what you meant in the last sentence, however I understand that in first definition of NETCONF a superposition of values in config true leaves was not yet envisioned, hence operational may get overridden by running (even if there's no running value for a particular leaf).

get-data works perfectly. Thanks